html {
  height: 100%;
  width: 100%;
}

.container{
  padding: 10px;
  margin: 5px;
  display:grid;
  /* how many rows and columns */
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 4px;
}

.container > div{
  border: solid 2px black;
  padding: 3px;
  margin: 4px;
}

.odd{
  background: #eee;
}
.even{
  background: #ddd;
}

.itemOne {
  grid-row: 1 / 2 ; /* grids start in the top L/H corner with 1 */
  grid-column:  1 / 4 ;
}

.itemTwo {
  /* row start / column start / row end / column end */
  grid-area: 2 / 1 / 5 / 1; /* a single file */
}
